/*Inicio de Página*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(239, 243, 239, 1);
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: 'Comic Sans Ms';
}
/*Jeshua*/
.encabezado {
    background-color: rgb(239, 243, 239, 1);
    height: 240px;
    width: 100%;
    display: inline-block;
}

.logo, header h1 {
    display: inline-block;
    height: 140px;
    padding-top: 40px;
    padding-left: 25px;
    margin-right: 350px;
}
/**/
/* Menu de Navegacion Victor */
nav {
    background-color: gray;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: right;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-right: 30px;
}
nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover {
    color: black;
    border-bottom: 3px solid white;
}
/*Victor*/
.banner {
    width: 100%;
    height: 560px;
}

/*Contenido de página*/
/*Diego Merida*/
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #5c85d6;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #3b5ba9;
}
/*Diego Merida*/

article {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: rgb(239, 243, 239, 1);
    
}
.carousel-item img {
    width: 100%;       /* Ajusta el ancho para que ocupe el espacio completo del carrusel */
    max-height: 400px; /* Ajusta la altura máxima a lo que desees */
    object-fit: contain; /* Mantén las proporciones de la imagen sin recortarla */
    object-fit: cover;
    padding-left: 85px;
    padding-right: 85px;
}
.title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    align-content: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    width: 100%;
    height: 500px;
    color: rgb(255, 255, 255);
    background-image: url(..//img/alg_act.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.title2 {
    padding-top: 110px;
}
.act {
    display: flex;
    background-color: #ced7e2c6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgb(185, 218, 187);
    max-width: 1200px;
    margin: 20px;
    height: 250px;
    margin-left: 150px;

}

.act_imagen {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 45px;
    margin-left: 20px;
}

.act_contenido {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.act_contenido h2 {
    margin: 0;
    font-size: 30px;
    color: #333;
}

.act_contenido p {
    font-size: 18px;
    color: #565555;
    margin: 10px 0;
}

.act_btn_reservar {
    background-color: #486b78;
    color: #f1e6e6;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: start;
}

.act_btn_reservar:hover {
    background-color: #66add0;
}
/*Pie de página*/
.pie_pagina{
    background-color: rgb(220, 218, 218);
    width: 100%;
    height: 250px;
    content: normal;
    text-align: justify;
}

.pie_imagen {
    width: 35px;
    height: 40px;
    position: relative;
    margin-top: 80px;
    margin-left: 40px;
}
.pie_informacion {
    margin-left: 150px;
    position: relative;
    top: -20px; /* Cambia el valor para moverlo hacia arriba o abajo */
    line-height: 0.9; /* Espaciado de 1.5 veces el tamaño de la fuente */
    left: 250px;
    
}

.pie_explorar {
    position: relative;
    top: -170px; /* Cambia el valor para moverlo hacia arriba o abajo */
    left: 700px;
    line-height: 0.9; /* Espaciado de 1.5 veces el tamaño de la fuente */
}

